

</body>

<script type="text/javascript">
  let datetimeNodes = document.getElementsByClassName("datetime");
  console.log(datetimeNodes);
  for (let i = 0; i < datetimeNodes.length; i++) {
    var str = datetimeNodes[i].innerHTML;
    var str1 = str.substring(0, str.indexOf(":"));
    var str2 = str1.substring(str1.lastIndexOf(" "));
    if ((Number(str2) + 1) >= 10)
      datetimeNodes[i].innerHTML = str2 + "-" +  (Number(str2)+1);
    else
      datetimeNodes[i].innerHTML = str2 + "-0" +  (Number(str2)+1);
  }
</script>

<footer>
  JIRO Moment © Play Your own Game | Awareness that arises From Paying Nonjudgemental Attention In the Present Moment As If Your Life Depends On It  | Only Thing You Can Control is Your Effort | Be Willing to give yourself 1000 chances
</footer>

</html>
